h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.c {
    font-size: small;
    /* margin-top: -1px; */
}
.a {
    font-size: small;
    font-style: italic;
}
.b {
    font-style: italic;
}
.d {
    font-size: smaller;
}