h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button {
    padding: 39px;
    border-radius: 90px !important;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}